.content-container {
    width: 100%;
    /* border: red solid 2px; */
} 

.row {
    width: 100%;
    border: black solid 2px;
    padding: 1rem;

} 

/* .col-12 {
    border: yellow solid 2px;
} */

.temporary-map {
    width: 700px;
}

.interactive-map {
    padding: 0;
}

#openseadragon1 {
    border: red solid 2px;
}