.content-container {
    width: 100%;
    /* border: red solid 2px; */
} 

.row {
    width: 100%;
    border: black solid 2px;
    padding: 1rem;

} 
#county-timeline-list {
    width: auto;
}

#county-timeline-list{
    list-style-type: none 
}



.map-arrows {
    cursor: pointer;
    
    padding: 10px 30px;
    transition: .3s;
    
    width: 65px;
}

.map-arrows:hover {
    background-color: lightgrey;
}

.temporary-map {
    width: 700px;
}

.interactive-map {
    padding: 0;
}

#openseadragon1 {
    border: black solid 5px;
    width: 100%; 
    aspect-ratio: 23/17;
}
